table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-header-cell {
  color: #a7adb2;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
th.mat-cell {
  color: blue;
}
