<nz-table
  #fixedTable
  [nzData]="dataSource"
  [nzScroll]="{ x: '1384px' }"
  [nzLoading]="isLoading"
  [nzFrontPagination]="false"
  [nzPageSize]="pageSize"
  (nzQueryParams)="onSortChange($event)"
  nzSize="middle"
>
  <thead>
    <tr>
      <th
        *ngFor="let col of columns"
        id="{{ col }}"
        [nzColumnKey]="col"
        [nzLeft]="isSticky(col)"
        [nzShowSort]="true"
        (nzSortOrderChange)="onSortOrderChange($event)"
      >
        {{ convertToColHeader(col) }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data">
      <td
        *ngFor="let col of columns"
        [nzLeft]="isSticky(col)"
        [ngStyle]="{
          color: ['id'].includes(col) ? '#FFF' : genCellColor(data[col])
        }"
      >
        {{ data[col] }}
      </td>
    </tr>
  </tbody>
</nz-table>
