/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.layout-content {
  width: 100%;
  overflow-y: auto;
  min-height: 100vh;
  padding: 20px;
}

.ant-table-thead .ant-table-cell {
  background-color: #161616;
}

.ant-table-tbody > tr > td {
  background-color: #0a0a0a;
}

.ant-table-tbody > tr > td:hover {
  cursor: pointer;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

.ant-table table {
  background: #0a0a0a;
}
